
/* remove basic styling */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(120deg, #ffe5d9, #b56576);
    color: white;
    min-height: 100vh; 
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}


form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}
body > form > input {
    height: 45px;
    width: 250px;
    border: none;
    color: #bb8588;
    font-size: larger;
    padding-left: 7px;
    border-radius: 15px;
  
}
img{
    width: 30px;
    
}
form button {
   padding: 6px 7px;
    border: none;
    background-color: white;
    margin-left: 7px;
    cursor: pointer;
    background-color: #a26769;
    border-radius: 15px;
}
form button:hover {
    background-color: #b56576;
    transition: all 0.4s ease;

}